.bg{
    background-image: url(../../bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vmin;
    background-size: 1370px;
    margin-bottom: -40px;
   
}